name: Mend CLI

on: workflow_dispatch

jobs:
  cli:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libudunits2-dev
          sudo apt update
          sudo apt install gdal-bin libgdal-dev
          
      - name: Install Packrat
        run: Rscript -e 'install.packages("packrat", repos="https://cloud.r-project.org")'
        
      - name: Restore dependencies
        run: |
          # Create the packrat/packrat.lock file that is missing from the project.
          Rscript -e 'packrat::init()'
          Rscript -e 'packrat::snapshot()'
          Rscript -e 'packrat::restore()'

      - name: Mend CLI Scan
        env:
          MEND_EMAIL: ${{secrets.MEND_EMAIL}}
          MEND_USER_KEY: ${{secrets.MEND_USER_KEY}}
          MEND_URL: https://saas.mend.io
          MEND_LOG_LEVEL: DEBUG
        run: |
          echo Downloading Mend CLI
          curl https://downloads.mend.io/cli/linux_amd64/mend -o /usr/local/bin/mend && chmod +x /usr/local/bin/mend
          echo run Mend scan
          mend dep -u -s "*//Packrat//absmapsdata-cli"
          #mend dep -u -e -s "*//Packrat//absmapsdata-cli"
        
      - name: 'Upload .mend/logs folder'
        uses: actions/upload-artifact@v4
        with:
          name: Mend logs
          path: /home/runner/.mend/logs/
          retention-days: 1
